div p {
  margin: 40px auto;
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding-left: 20px;
  color: #fff;
}
.back-btn{
  position: absolute;
  padding: 10px;
  background-color: #ddc1c1;
  color: #fff;
  top: 50px;
  left: 0px;
  border-radius: 3px;
}